*.rtf

# ========================================
# HARBOR A MOTHERSHIP - GIT IGNORE MANIFEST
# ========================================

# Manifest Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build Output
dist/
build/

# IDE / System Metadata
.DS_Store
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.rtf

# TypeScript Build Telemetry
*.tsbuildinfo

# Build Engine Cache
.vite/

# Firebase Telemetry and Cache
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local